.side_nav{
  min-height: calc(100vh - 70px);
  max-width: fit-content;
}
.side_nav a{
  padding:12px;
  color:white;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid white;
  
}

.side_nav a:hover{
  color:green;
  background: white;
}


